.wrapper {
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-top: 150px;
  flex-direction: column;
}

.title {
  text-transform: uppercase;
  font-weight: bold;
  color: wheat;
  font-size: 35px;
  margin-bottom: 30px;
}

.led-button {
  outline: none;
  padding: 15px;
  font-size: 15px;
  width: 140px;
  text-transform: uppercase;
  font-weight: 500;
  border: none;
  cursor: pointer;
  box-shadow: 1px 1px 3px #585858;
  opacity: 0.8;
}

.input {
  width: 130px;
  margin: 15px;
  padding: 6px 5px;
  border: none;
  outline: none;
  font-size: 15px;
}

.label {
  font-size: 13px;
  color: white;
  font-weight: 500;
}

.led-button:hover {
  opacity: 1;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}
